{% extends 'base.html' %}
{% block title %}登录{% endblock %}
{% block content %}
    <form class="form-signin" id="login">
        <h5 class="error-display" id="error"></h5>
        <div class="form-group ">
            <label for="name">用户名</label>
            <input type="text" class="form-control" id="name" placeholder="用户名">
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" placeholder="密码">
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block button">登录</button>
    </form>
</div>
{% endblock %}
{% block js %}
    <script language="javascript" type="text/javascript">
    $('#login').submit(function(){
        $.ajax({
            type:"POST",
            url:"/loginPersonal/",
            data:{"username":$("#name").val(),"password":$("#password").val()},
            success:function(data){
                console.log(data)
                if(data.success){
                    console.log(data.user)
                    window.location.href="/personal/"

                }else
               {
                var errors = data.msg;
                    var str = ""
                    for (var key in errors){
                        str += errors[key]+"\n";
                    }
                    $('#error').removeClass("error-display")
                     $('#error').addClass("error-display-block")
                    $('#error').html(str)
                }

            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);
            }
        });
        return false;
    });
</script>
{% endblock %}