
{% extends 'base.html' %}
   {% block title %}个人注册{%endblock%}
     {% block content %}

    <form class="form-signin" id = "regist">
        <div class="form-group ">
            <label for="name">用户名</label>
            <input type="text" class="form-control" id="name" placeholder="用户名">
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" placeholder="密码">
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block button">注册</button>
    </form>
    {% endblock %}


 {% block js %}
<script language="javascript" type="text/javascript">
    $('#regist').submit(function(){
        $.ajax({
            type:"POST",
            url:"/registPersonal/",
            data:{"username":$("#name").val(),"password":$("#password").val()},
            success:function(data,textStatus){
                console.log(data)
                if(data.success){
                    window.location.href="/personal"

                }else
               {
                var errors = data["errors"];

                   alert(errors);
                    var str = ""
                    for (var key in errors){
                        str += errors[key]+"\n";
                    }
                    alert(str);
                }

            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);
            }
        });
        return false;
    });
</script>
{% endblock %}

