
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/list1.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <title>列表</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
</head>

<body>
<div style="overflow: hidden; height: 767px;">
    <div style="transition-property: transform; transform-origin: 0px 0px; transform: translate(0px, 0px) scale(1) translateZ(0px);">
        <ul class="search-list J-list">
        <li>
            <a class=" item Fix">
                <div class="pic">
                    <img src="https://res.veding.com/attachment/alycms/www/2019/2/b24jIqXT4EFrDDsy149145.jpg?imageView2/0/w/180/h/180/q/75">

                </div>
                <div class="content">
                    <div class="name">
                        <h3 class="shop-name">
                         <span class="name">testdhfujdhsi</span>
                        </h3>

                        <span class="shop-time">shop</span>
                    </div>
                    <div class="intro Fix">
                        <span class="name">testdhfujdhsi</span>
                    </div>
                </div>
            </a>

        </li>
        </ul>
    </div>
</div>
</body>
</html>